* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 1.15em;
}

.shape {
    border: 4px solid black;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: green;
    box-sizing: border-box;
}

/* MOBILE VIEW START */
#left-col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

/* SHAPES START */
.banner {
    width: 100%;
    height: 7%;
    background-color: olive;
    border-bottom: 4px solid black;
}

#shapes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rhombuses {
    margin-bottom: 55px;
}

.rhombus-border {
    width: 150px;
    height: 150px;
    background-color: black;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.rhombus {
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.small-rectangle {
    width: 100px;
    height: 10px;
    background-color: blue;
}

.oval {
    width: 90px;
    height: 80px;
    background-color: teal;
    border-radius: 50%;
}

.rectangle {
    width: 150px;
    height: 290px;
    background-color: blue;
    margin-left: 50px;
    padding-top: 30px;
    text-align: center;
}
/* SHAPES END */
/* MOBILE VIEW END */

/* FOR SCREEN WIDTH 583px - 900px */
@media only screen and (min-width: 583px) {
    #shapes {
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .rectangle {
        background-color: #c83737;
        order: 1;
        align-self: center;
    }

    .row {
        order: 2;
    }
}

/* FOR SCREEN WIDTH > 900px */
@media only screen and (min-width: 901px) {
    .rectangle {
        background-color: white;
    }

    #left-col {
        flex-direction: row;
        justify-content: space-between;
    }

    .row {
        padding-top: 20px;
        margin: 0;
        order: 1;
    }
}