* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 1.15em;
}

.shape {
    border: 4px solid black;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: green;
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 30px;
}

/* SHAPES START */
.banner {
    width: 100%;
    height: 55px;
    background-color: olive;
    border-bottom: 4px solid black;
}

#shapes {
    padding: 10px;
}

.rhombus-border {
    width: 150px;
    height: 150px;
    background-color: black;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.rhombus {
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.small-rectangle {
    width: 100px;
    height: 10px;
    background-color: blue;
}

.oval {
    width: 90px;
    height: 80px;
    background-color: teal;
    border-radius: 50%;
}

.rectangle {
    width: 150px;
    height: 280px;
    background-color: blue;
    margin-left: 50px;
    padding-top: 30px;
    text-align: center;
}
/* SHAPES END */