* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 1.15em;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: green;
    box-sizing: border-box;
}

.shape {
    border: 4px solid black;
}

/* MOBILE VIEW START */
.banner {
    width: 100%;
    height: 7%;
    background-color: olive;
    border-bottom: 4px solid black;
}

#shapes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#left-col {
    display: contents;
}

#rhombuses {
    margin-bottom: 55px;
}

.rhombus-border {
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.rhombus {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: red;
}

#small-rect-oval {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.small-rectangle {
    width: 100px;
    height: 10px;
    background-color: blue;
}

.oval {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    background-color: teal;
}

.rectangle {
    width: 180px;
    height: 40vh;
    background-color: blue;
    margin-left: 50px;
    padding-top: 30px;
    text-align: center;
}
/* MOBILE VIEW END */

/* FOR SCREEN WIDTH 583px - 900px */
@media only screen and (min-width: 583px) {
    #shapes {
        height: 93%;
        flex-direction: row;
    }

    #left-col {
        display: flex;
        flex-direction: column;
    }

    .rectangle {
        height: 80vh;
        background-color: #c83737;
        align-self: center;
    }
}

/* FOR SCREEN WIDTH > 900px */
@media only screen and (min-width: 901px) {   
    #left-col {
        display: contents;
    }

    #small-rect-oval {
        margin: 100px 0 0 0;
        align-self: flex-start;
    }

    .rectangle {
        background-color: white;
    }
}